data/raw/*
data/staged/*
data/processed/*
!data/raw/.gitkeep
!data/staged/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep

mlruns/
.env
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
